.wrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.foto {
    height: 150px;
}

body {
    background-color: #f5f5dc;
}

.foto-contact-info {
    display: flex;
}

.code-example {
    text-align: left;
}